* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: #c6ac8f;
}

#heading {
  display: flex;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 10px;
  background-color: #5e503f;
  color: #c6ac8f;
}
.user-input-container {
  border: none;
  width: 600px;
  margin-left: 30rem;
  margin-top: 50px;
  align-items: center;
  text-align: center;
}
#user-input {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  outline: none;
  border: none;
  width: 60%;
  border: 2px solid #5a4935;
  background-color: #5a4935;
  color: #c6ac8f;
  font-size: larger;
}

#user-input::placeholder {
  text-transform: capitalize;
  font-size: larger;
  color: #c6ac8f;
  padding-left: 10px;
}
#btn {
  color: #c6ac8f;
  background-color: #5a4935;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: larger;
  text-transform: capitalize;
  transition: 300ms;
}
#btn:hover{
  cursor: pointer;
  color: #5a4935;
  background-color:#c6ac8f;
  border: 2px solid #5e503f;
}
#list-container {
  border: none;
  width: 600px;
  margin-left: 30rem;
  margin-top: 50px;
  box-shadow: 0px 0px 40px 7px #5a4935;
  padding: 10px;
  border-radius: 15px;
}
.list-item {
  margin: 10px;
  font-size: 20px;
  list-style: none;
  text-transform: capitalize;
  color: #5a4935;
  border: 1px solid #5e503f74;
  padding: 10px;
  border-radius: 8px;
  transition: 300ms;
}
.list-item:hover {
  background-color: #5a4935;
  color: #c6ac8f;
  cursor: pointer;
}
